<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="icon" th:href=@{/img/capivara.png} type="image/x-icon">
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Adicionar Funcionários </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light --bs-pink">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Funcionário</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cargo/list}">Cargos</a>
                </li>
            </ul>
            <span class="navbar-text">
              É isso ae, site rosinha
            </span>
        </div>
    </div>
</nav>

<div class="container container-form-funcionario">
        <h3>Adicionar Funcionário</h3>
    <form th:action="@{/funcionario/save}" method="post" th:object="${funcionario}">


        <div th:if="${erro}" class="alert alert-danger">
            <span th:text="${erroMsg}"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInputId" placeholder="Código" disabled
                   th:field="*{id}">
            <label for="floatingInputId">Código</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputNome" placeholder="Nome"
                   th:field="*{nome}">
            <label for="floatingInputEmail">Nome</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputTelefone" placeholder="Telefone"
                   th:field="*{telefone}">
            <label for="floatingInputTelefone">Telefone</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputEmail" placeholder="Email"
                   th:field="*{Email}">
            <label for="floatingInputEmail">Email</label>
        </div>

        <div class="row">
            <div class="col">
                <a th:href="@{/funcionario/list}"  id="btn forms" class="btn btn-outline" type="submit">
                    <i class="far fa-address-book"></i> Voltar </a>
            </div>
            <div class="col">
                <button class="btn btn-outline-success" type="submit">
                    <i class="far fa-save"></i> Adicionar
                </button>
            </div>
        </div>

    </form>

</div>

<!--JS-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/popper.min.js}" ></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
</body>
</html>