<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
    <title>Editar Projeto</title>
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
<body>
<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-light --bs-pink">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Funcionário</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/funcionario/list}">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cargo/list}">Cargos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/projeto/list}">Projetos</a>
                </li>
            </ul>
            <span class="navbar-text">
              Capivara doces <i class="fas fa-cookie-bite"></i>
            </span>
        </div>
    </div>
</nav>

<div class="container container-form-funcionario">
    <h3> Adicionar Projeto</h3>
    <form th:action="@{/projeto/save}"
          method="post"
          th:object="${projeto}"
    >
        <div th:if="${erro}" class="alert alert-danger">
            <span th:text="${erroMsg}"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control"
                   id="floatingInputId" placeholder="Código"
                   disabled th:field="*{id}">
            <label for="floatingInputId">Código</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="floatingInputNome" placeholder="Nome"
                   th:field="*{nome}" required>
            <label for="floatingInputNome">Nome</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="floatingInputDescricao" placeholder="Descrição do projeto"
                   th:field="*{descricao}" required>
            <label for="floatingInputDescricao">Descrição</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelectStatus"
                    aria-label="Selecione o status"
                    th:field="*{status}" required >
                <option value="Iniciado">Iniciado</option>
                <option value="Planejado">Planejado</option>
                <option value="Em andamento">Em andamento</option>
                <option value="Finalizado">Finalizado</option>
                <option value="Cancelado">Cancelado</option>
            </select>
            <label for="floatingSelectStatus">Selecione o status</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelectRisco"
                    aria-label="Selecione o risco"
                    th:field="*{risco}" required >
                <option value="Baixo">Baixo</option>
                <option value="Intermediário">Intermediário</option>
                <option value="Alto">Alto</option>
            </select>
            <label for="floatingSelectRisco">Selecione o risco</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" step="0.01"
                   id="floatingInputOrcamento" placeholder="Orçamento"
                   th:field="*{orcamento}" required>
            <label for="floatingInputOrcamento">Orçamento</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelectGerente"
                    aria-label="Selecione o gerente"
                    th:field="*{gerente.id}" required >
                <option th:each="g : ${gerentes}" th:value="${g.id}" th:text="${g.nome}"></option>
            </select>
            <label for="floatingSelectGerente">Selecione o Gerente</label>
        </div>

        <div class="row form-floating mb-3">
            <div class="form-floating col">
                <input type="date" class="form-control"
                       id="floatingInputDataInicial" placeholder="  Data Inicial"
                       th:field="*{dataInicial}" required>
                <label for="floatingInputDataInicial">  Data Inicial</label>
            </div>
            <div class="form-floating col">
                <input type="date" class="form-control"
                       id="floatingInputDataFinal" placeholder="  Data Final"
                       th:field="*{dataFinal}" required>
                <label for="floatingInputDataFinal">  Data Final</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a th:href="@{/projeto/list}"  id="btn forms" class="btn btn-outline" type="submit">
                    <i class="far fa-address-book"></i> Voltar </a>
            </div>
            <div class="col">
                <button class="btn btn-outline-success" type="submit">
                    <i class="far fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>

<!--JS-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>

</body>
</html>